.logo {
    text-align: center;
    padding: 20px;
    color: #ece3e3;
    align-items: center;
    display: flex;
    gap: 20px;
}
.logo .icon {
    font-size: 4rem;
}
.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu--list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #9a999b;
}
.menu--list .item:hover{
    background: #5b5555;
    color: #fff;
}