.embla__slide {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.embla__slide.fade-transition {
    opacity: 1;
}

.hero-shadow-lg {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
}
