@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Anchor tags */
a {
  @apply font-medium text-blue-600;
}
a:hover {
  @apply text-blue-500;
}

/* Flex center the body */
body {
  @apply min-w-screen min-h-screen flex items-center justify-center;
}

/* Headings */
h1 {
  @apply text-5xl font-bold leading-tight;
}

/* Buttons */
button {
  @apply rounded-md border border-transparent px-4 py-2 text-base font-medium transition-colors;
}
button:hover {
  @apply border-blue-600;
}
button:focus {
  @apply outline-none ring-4 ring-blue-300;
}

/* Light mode styling */
@media (prefers-color-scheme: light) {
  :root {
    @apply text-gray-900 bg-white;
  }
  button {
    @apply bg-gray-100;
  }
  button:hover {
    @apply border-indigo-400;
  }
}
