@tailwind base;
@tailwind components;
@tailwind utilities;

.date-picker::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(100%);
}

.rotate-180 {
    transform: rotate(180deg);
}

.embla__slide {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.embla__slide.opacity-100 {
    opacity: 1;
}

.embla__slide.opacity-0 {
    opacity: 0.5;
}

.hero-shadow-lg {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.5);
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-container > * {
    flex: 0 0 auto;
    scroll-snap-align: center;
}